.hide {
    display: none;
}

.password-recovery .modal-header {
    text-align: center;
    border-bottom: none;
}

.object-list>.object:not(:nth-child(-n+5)) {
    /* display: none; */
}

.object-list>.object.show-block {
    display: block;
}

#yandex_map {
    width: 100%;
    height: 310px;
}

.center {
    text-align: center;
}

.display_block {
    display: block;
}

.a_grey {
    color: #212122;
}

.pb-0 {
    padding-bottom: 0;
}

.form-contancts .file-input {
    cursor: pointer;
}

.cart_screen__container::before {
    content: '';
    background: #121212;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.index-block__2 {
    padding-top: 40px;
}

.download-photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.download-photo .list {
    position: relative;
}

.download-photo .list:first-child:last-child {
    width: 100%;
}

.download-photo label.small span {
    margin-right: 5px;
}

.download-photo.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.download-photo.center .list {
    margin-right: 2.3%;
    margin-bottom: 25px;
}

.download-photo.center .list:nth-child(3n) {
    margin-right: 0;
}

.download-photo label.label-file {
    width: 100%;
    height: 154px;
    background-color: #fff;
    border: 2px dashed #909090;
    border-radius: 8px;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; */
    color: #0f0f0f;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
}

.download-photo label.label-file.error-empty {
    border-color: #f00;
}

.download-photo label.label-file input {
    display: none;
}

.download-photo label.label-file img {
    display: none;
    width: auto;
    width: 100%;
}

.download-photo label.label-file span {
    display: block;
}

.download-photo label.label-file.has-img span {
    display: none !important;
}

.download-photo label.label-file.has-img img {
    display: block;
}

.download-photo label.label-file+span.delete-file,
.download-photo label.js-labelFile+span.delete-file {
    display: none !important;
}

.download-photo label.label-file.has-img+span.delete-file,
.download-photo label.js-labelFile.has-img+span.delete-file {
    display: block !important;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 40px;
    background-color: red;
    color: #fff;
    line-height: 1;
    padding: 1px 4px;
    cursor: pointer;
}

/* регистрация */
.block__captcha img {
    margin-bottom: 15px;
}

.about_company {
    margin-bottom: 50px;
}

.btn__send {
    margin: 45px 0 90px;
}

/* контакты в заказах */
.order__contacts {
    margin-top: 20px;
    display: flex;
}

.order__contacts-title {
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
}

.order__contacts-block img {
    margin-right: 15px;
    display: none;
}

.order__contacts-block a{
  color: #212122;
  text-decoration: none;
}

.order__contacts-auth {
    display: none;
}

.order__contacts-auth a.btn {
    margin-left: 15px;
}

.not-auth .order__contacts-block img {
    display: inline;
}

.not-auth.order__contacts-auth {
    display: block;
}

.order__ads .order__recommendations-item {
    padding-left: 0;
}

.order__ads b {
    display: block;
    margin-bottom: 20px;
}

.block_service .clone_block_service {
    border-top: none;
    padding-top: 0;
}

.lk-form-block textarea {
    resize: 0;
    width: 100%;
    height: 120px;
    border: 1px #e4e6ee solid;
    padding: 25px;
    background: #fff;
    border-radius: 15px;
    transition: .3s;
    resize: none;
}

textarea+.placeholder {
    top: 25px;
}

.btn--reset {
    background: #FFFFFF;
    border: 1px solid #E4E6EE;
    border-radius: 10px;
    color: #7D7D7D;
}

.filter-form__builders .select {
    max-width: 100%;
}

.modal-dialog--login .modal-close .icon {
    fill: #000;
}

.block_favorites {
    margin-bottom: 90px;
}

.filterShow {
    display: none;
    width: 100%;
}

.choose_reg a.btn {
    padding: 1.38rem 2rem;
}

.choose_reg a.btn:first-child {
    margin-right: 10px;
}

.regions-choose{
  margin-right: auto;
  padding-left: 0px;
  border-left: 0px;
  display: inline-block;
  font-size: 14px;
  color: #7d7d7d;
  text-decoration: none;
  line-height: 40px;
  height: 40px;
  transition: .3s;
}

.object-list--catalog .object__desc{
  cursor: inherit;
}

.services-block.block-fast-url .col-xl-4:nth-child(2) .services{
  background-color: #f4fbf2;
}
.services-block.block-fast-url .col-xl-4:nth-child(3) .services{
  background-color: #f2f4fa;
}
.services-block.block-fast-url .services-list{
  max-width: 100%;
}

@media (max-width: 480px) {
    .download-photo .list {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 750px) {
    .download-photo {
        grid-template-columns: 1fr 1fr;
    }



    .btn__send {
        margin-bottom: 30px 0 60px;
    }

    .index-block__2 {
        padding-top: 20px;
    }

    /* контакты в заказах */
    .order__contacts {
        display: block;
    }

    .order__contacts-title {
        margin-bottom: 15px;
    }

    .order__contacts-auth a.btn {
        margin-left: 0;
        margin-top: 15px;
        display: block;
    }

    .block_favorites {
        margin-bottom: 60px;
    }

    .top-header__container {
        margin-right: 0;
    }

    .btn--reset {
        margin-bottom: 15px;
    }

    .filterShow {
        display: block;
        margin-bottom: 20px;
    }

    .filter-form {
        display: none;
    }

    .select--sorting {
        max-width: 100%;
    }

    .object__bottom.mobile .proect__specifications-value {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .orders__item-head {
        padding-right: 50px;
    }

    .orders__item-head .orders__item-favourites {
        top: -10px;
        right: 0;
    }

    .page_index .company__sidebar {
        padding: 10px 20px;
        background: #fff;
    }

    .page_index .company__menu {
        display: block;
    }

    .choose_reg {
        display: block;
    }

    .choose_reg a.btn:first-child {
        margin-bottom: 10px;
    }
}

@media (max-width: 992px) {
    .download-photo {
        margin-bottom: 27px;
    }
}

/* блок поделиться */
.ya-share2__container_size_m .ya-share2__icon {
  height: 32px !important;
  width: 32px !important;
  background-size: 24px !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important
}

@media (min-width:1397px) {
  .ya-share2__container_size_m .ya-share2__icon {
    height: 48px !important;
    width: 48px !important;
    background-size: 32px !important
  }
}

.ya-share2__badge {
  border-radius: 50% !important;
  margin-left: 5px
}

@media (min-width:1397px) {
  .ya-share2__badge {
    margin-left: 10px
  }
}
