.compare-tr {
    white-space: nowrap;
    padding: 0 30px 0;
    background: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
    font-size: 0;
}

.compare-cheracteristics {
    white-space: nowrap;
    width: 100%;
    font-size: 0;
    padding: 0 30px;
}



.compare-cheracteristics {
    background-color: #F2F4FA;
}


.compare-cheracteristics:nth-child(odd),
.compare-cheracteristics:nth-child(odd) .compare-cheracteristics-item {
    background-color: #FFFFFF;
}

.compare-cheracteristics-item {
    width: 370px;
    background-color: #F2F4FA;
    padding: 0 30px 15px 0;
    display: inline-flex;
    white-space: normal;
    flex-direction: column;
    justify-content: flex-end;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-weight: 400;
    vertical-align: bottom;
    height: 75px;
}

.compare-cheracteristics-item__title {
    color: #7D7D7D;
    margin-bottom: 5px;
    font-size: 14px;
}


.compare-cheracteristics-item__value {
    color: #212122;
    font-size: 15px;

}

.compare-list {
    overflow: auto;
    padding-bottom: 30px;
    margin-bottom: 90px;
}

.compare-item {
    width: 370px;
    display: inline-block;
    background: #FFFFFF;
    padding: 30px 30px 30px 0;
    position: relative;
}

.compare-item-img .object__images {
    width: 340px;
    height: 224px;
    border-radius: 10px;
}

.compare-item-img {
    margin-bottom: 20px;
}

.compare-item__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
}
.compare-item__title a{
    color: #212122;
}

.compare-delete {
    width: 30px;
    height: 30px;
    z-index: 10;
    position: absolute;
    right: 45px;
    top: 45px;
    border-radius: 50px;
    background: rgba(33, 33, 34, 0.6);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.compare-delete .icon {
    fill: #FFFFFF;
}

.h-title-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

#modal-callback .input::placeholder {
    color: red;
}

.lk-form-block textarea {
    resize: 0;
    width: 100%;
    height: 120px;
    border: 1px #e4e6ee solid;
    padding: 25px;
    background: #fff;
    border-radius: 15px;
    transition: .3s;
    resize: none;
}


#modal-callback .modal-dialog {
    max-width: 500px;
}

#modal-callback form {
    max-width: 400px;
    width: 100%;
}

#modal-callback .modal-body {
    padding: 70px 50px;
}

textarea+.placeholder {
    top: 25px;
}

.compare-checkbox {
    display: flex;
    cursor: pointer;
    gap: 0 12px;
    align-items: center;
}

.compare-checkbox input {
    display: none;
}

.compare-checkbox__control {
    position: relative;
    width: 50px;
    height: 28px;
    transition: .3s;
    border-radius: 500px;
    background: #F2F4FA;
}

.compare-checkbox__control::before {
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 2px 0 2px 1px;
    content: '';
    transition: .3s;
    transform: translateX(0);
    border-radius: 50%;
    background: #fff;
}

input:checked+.compare-checkbox__control {
    background-color: #FADE88;
}

input:checked+.compare-checkbox__control::before {
    transform: translateX(100%);
}

@media (max-width: 992px) {

    .compare-item,
    .compare-cheracteristics-item {
        width: 310px;
    }

    .compare-item-img .object__images {
        width: 290px;
        height: 190px;
    }

    .compare-delete {
        right: 30px;
    }
}

@media (max-width: 768px) {

    #modal-callback .modal-body {
        padding: 60px 15px;
    }

    .compare-cheracteristics {
        padding: 0 15px;
    }

    .compare-item {
        padding: 25px 15px 15px 0;
    }

    .compare-tr {
        padding: 0 15px;
    }

    .modal-dialog--login .modal-body,
    .modal-dialog--reply .modal-body {
        padding: 60px 20px;
    }
}
