img {
    max-width: 100%;
}

*:active,
*:focus {
    outline: none;
}

*::-moz-focus-inner {
    border: 0;
}

input::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.place_show input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.place_show input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.place_show input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.place_show input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.example-2 .btn-tertiary {
    font-size: 14px;
    color: #7d7d7d;
    padding: 0;
    line-height: 42px;
    width: 175px;
    display: block;
    border: 1px solid #e4e6ee;
    border-radius: 4px;
    padding: 0 22px;
    margin: 8px 0px;
}

.example-2 .btn-tertiary span {
    margin-left: 8px;
}

.example-2 .input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.example-2 .input-file+.js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 20px;
    cursor: pointer
}

.example-2 .input-file+.js-labelFile .icon:before {
    content: "\f093"
}

.example-2 .input-file+.js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5AAC7B
}

.example-3 .btn-tertiary {
    font-size: 14px;
    color: #212122;
    padding: 0;
    line-height: 92px;
    width: 100%;
    display: block;
    border: 1px dashed #5fad56;
    border-radius: 10px;
    padding: 0 22px;
    background: #f9fcf8;
    text-align: center;
}

.example-3 .btn-tertiary span {
    margin-left: 8px;
}

.example-3 .input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.example-3 .input-file+.js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 20px;
    cursor: pointer
}

.example-3 .input-file+.js-labelFile .icon:before {
    content: "\f093"
}

.example-3 .input-file+.js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5AAC7B
}

.social-list .ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
    height: 36px;
    width: 36px;
    background-size: 24px 24px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.social-list .ya-share2__badge {
    border-radius: 50%;
}

.ya-share2 {
    display: inline-block;
    margin-left: 5px;
}

.top-header {
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #f6f7f9;
}

.top-header a {
    display: inline-block;
    font-size: 14px;
    color: #7d7d7d;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    padding: 0 30px;
    border-left: 1px #e4e6ee solid;
    transition: .3s;
}

.top-header a.notification,
.top-header a.message {
    position: relative;
    padding: 0 15px;
}

.top-header a .favorites-count {
    top: 3px;
}

.top-header__container {
    margin-right: -30px;
    display: flex;
}

a.select-city {
    padding-left: 0px;
    border-left: 0px;
}

a.login:hover,
a.login.js-on-login {
    background-color: #e77561;
    color: #fff;
}

a.performer:hover,
a.new-order:hover {
    background-color: #e77561;
    color: #fff;
}

a.new-order:hover svg path {
    fill: #fff;
}

a.new-order:hover svg path.orange {
    fill: #e77561;
}

a.performer svg path {
    fill: #e77561;
}

a.performer:hover svg path {
    fill: #fff;
}

a.login svg path {
    fill: #212122;
}

a.login:hover svg path {
    fill: #fff;
}

a.login.js-on-login svg path {
    fill: #fff;
}

.top-header>a:first-child {
    margin-right: auto;
}

.top-header a span {
    position: relative;
    top: -2px;
    margin-right: 10px;
}

.main--catalog {
    padding-bottom: 0;
}

.order__new {
    border-color: #fade88;
    background-color: #fade88;
    border-radius: 15px;
    padding: 45px;
    margin-bottom: 45px;
}

.order__new:after,
.orders__item-content:after,
.order__head:after {
    content: '';
    display: block;
    clear: both;
}

.order__new-btn,
.add-service {
    float: right;
    display: inline-block;
    width: 216px;
    height: 60px;
    text-align: center;
    border: 1px #000000 solid;
    border-radius: 50px;
    color: #000;
    text-decoration: none;
    transition: .3s;
    padding-left: 0;
    padding-right: 0;
}

.order__new-btn:hover,
.add-service:hover {
    color: #fff;
    border-color: #212122;
    background-color: #212122;
}

.order__new-title {
    float: left;
    max-width: 65%;
    position: relative;
    padding-left: 93px;
}

.order__new-title-ico {
    position: absolute;
    top: 0;
    left: 0;
}

.orders__btn {
    margin-bottom: 20px;
}

.orders__btn .btn {
    font-weight: 500;
    padding: 1.38rem 1.7rem;
}

.orders__btn .btn span {
    margin-right: 15px;
}

.orders__item {
    padding: 39px 41px 37px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: .2s;
}

.orders__item.off {
    opacity: .65;
}

.orders__item:hover {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
}

.orders__item:last-child,
.heading-text p:last-child {
    margin-bottom: 0;
}

.heading-text h2 {
    font-size: 26px;
}

.orders__item-head {
    position: relative;
}

.orders__item-title {
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 17px;
    transition: .2s;
    text-decoration: none;
    color: #212122;
}

.orders__item-title:hover {
    color: #e77561;
}

.orders__item-cat {
    display: block;
    color: #7d7d7d;
    line-height: 1;
    transition: .2s;
    text-decoration: none;
}

.orders__item-cat:hover {
    color: #212122;
}

.orders__item-price {
    position: absolute;
    display: inline-block;
    top: -4px;
    right: 70px;
    font-size: 17px;
    font-weight: 500;
}

.orders__item-head .orders__item-status {
    position: absolute;
    right: 0px;
    top: 35px;
    text-align: center;
    display: inline-block;
    width: 78px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    background: #212122;
    border-radius: 3px;
}

.clients_my-orders .orders__item-price {
    right: 0;
}

.order__top>div.orders__item-favourites {
    position: absolute;
    top: -10px;
    right: 0;
    margin-right: 0;
}

.orders__item-head .orders__item-favourites {
    position: absolute;
    top: -10px;
    right: 0;
    margin-right: 0;
}

.orders__item-favourites .control__icon,
.orders__item-share .control__icon {
    width: 40px;
    height: 40px;
    background: #f8f9fb;
    text-align: center;
    line-height: 40px;
}

.orders__item-favourites .control__icon .icon,
.orders__item-share .control__icon .icon {
    fill: #a7a7a7;
    width: 15px;
}

.orders__item-favourites.control--favorites--active .control__icon .icon {
    fill: #ffd456;
}

.orders__item-share .control__icon .icon {
    width: 40px;
}

.order__top>div.orders__item-share {
    position: absolute;
    right: 50px;
    top: -10px;
    margin-right: 0;
}

.order-single .orders__item-content {
    padding-bottom: 0;
}

.orders__item-content {
    margin-top: 26px;
    padding-bottom: 20px;
}

.orders__item-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
}

.orders__item-content ul li {
    line-height: 1;
    margin-bottom: 24px;
}

.order-single ul li:last-child {
    margin-bottom: 0;
}

.orders__item-content ul li span {
    width: 78px;
    display: inline-block;
    color: #7d7d7d;
    font-size: 15px;
    font-weight: 300;
}

.orders__item-data {
    color: #7d7d7d;
    font-size: 13px;
    line-height: 35px;
    font-weight: 300;
}

.order-single .orders__item-stat {
    line-height: 35px;
}

.order-single .orders__item-btn {
    padding-top: 20px;
}

.orders__item-desc {
    max-width: 90%;
    line-height: 1.6;
}

.orders__item-ico {
    width: 66px;
    float: left;
    margin-right: 25px;
}

.orders__item-bottom {
    padding-top: 18px;
    border-top: 1px #e4e6ee solid;
}

.orders__item-bottom>div {
    display: inline-block;
    color: #7d7d7d;
    font-size: 13px;
    margin-right: 80px;
}

.orders__item-bottom .orders__item-status,
.order__top .orders__item-status {
    color: #212122;
    padding-left: 25px;
    position: relative;
}

.orders__item-stat {
    min-width: fit-content;
}

.orders__item-stat a {
    color: #212122;
    text-decoration: underline;
}

.order__top .control__container,
.orders__item-head .control__container {
    top: 50px;
    right: calc(50% - 0px);
    -webkit-transform: translateX(50%) translateY(0);
    transform: translateX(50%) translateY(0);
}

.order__top .control__main {
    max-width: 265px;
    padding: 13px 15px;
    background: #f8f9fb;
}

.control:hover .control__main {
    /* background: #464646;
	color: #fff;
	padding: 7px 10px; */
}

.proect__slider .control:hover .control__main {
    background: #fff;
    color: #212122;
    padding: 13px 15px;
}

.order__top .control__main:after,
.orders__item-head .control__main:after {
    display: none;
    top: 0px;
    left: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    margin-left: -4px;
}

.orders__item-bottom .orders__item-status:after,
.order__top .orders__item-status:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 6px;
    width: 10px;
    height: 10px;
    background: #5fad56;
    border-radius: 50%;
}

.control--share:hover .control__icon .icon,
.control--favorites:hover .control__icon .icon {
    fill: #ffd456;
}

.orders__item-favourites .control__container .control__main {
    background: #f8f9fb;
}

.orders__item-favourites.control:hover .control__container .control__main {
    /* background: #464646; */
}

.show-share.control:hover .control__container .control__main {
    background: #f8f9fb;
    max-width: 265px;
    padding: 13px 15px;
    color: #212122;
}

.object__images .control:hover .control__container .control__main {
    background: #fff;
    max-width: 300px;
    padding: 15px 20px;
}

.order__recommendations {
    padding: 35px 38px;
    border-radius: 15px;
    background: #fff;
}

.order__recommendations-item {
    position: relative;
    margin-bottom: 27px;
    padding-left: 30px;
}

.order__recommendations-item:last-child {
    margin-bottom: 0;
}

.order__recommendations-item span:first-child {
    margin-right: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.order__recommendations-title,
.order__filter-title,
.order__tags-title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 26px;
}

.order__filter,
.order__tags {
    margin-top: 56px;
}

.order__filter-title,
.order__tags-title {
    margin-bottom: 26px;
}

.order__filter-item {
    margin-bottom: 20px;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.checkbox+label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
}

.checkbox+label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px #e4e6ee solid;
    transition: .2s;
}

label:not(.radio):before {
    border: 1px #f8d360 solid;
}

.filter-form label:hover:before {
    border: 1px solid transparent;
}

.btn-filter {
    display: none;
}

.checkbox:checked+label:before {
    background: #f8d360;
    border: 1px #f8d360 solid;
}

.checkbox:checked+label:after {
    display: block;
    width: 12px;
    height: 12px;
    content: '';
    position: absolute;
    top: 5px;
    background: url(../images/check-h.png) no-repeat;
    left: 5px;
}

.order__tags-items {
    margin-left: -8px;
    margin-right: -8px;
}

.order__tags-item {
    display: inline-block;
    line-height: 47px;
    padding: 0 15px;
    border-radius: 40px;
    border: 1px #e4e6ee solid;
    margin: 0 8px;
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #212122;
    cursor: pointer;
}

.order__tags-item:hover,
input:checked+.order__tags-item {
    text-decoration: none;
    color: #212122;
    border: 1px #f8d360 solid;
}

.order,
.leave-esponse {
    padding: 34px 42px;
    border-radius: 15px;
    background: #fff;
}

.leave-esponse {
    margin-bottom: 90px;
}

.lk-page .leave-esponse {
    padding: 0px;
    background: initial;
    text-align: center;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle {
    border-radius: 10px;
    border: 1px #e4e6ee solid;
}

.bootstrap-select.show .dropdown-toggle {
    border-radius: 0px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

.bootstrap-select .dropdown-menu>li>a {
    font-weight: 300;
    font-size: 15px;
}

.bootstrap-select .dropdown-menu {
    margin-top: -1px;
    border-radius: 0;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.order__top {
    position: relative;
    padding-bottom: 19px;
    border-bottom: 1px #e4e6ee solid;
}

.order__top>div {
    display: inline-block;
    margin-right: 51px;
}

.order__head {
    margin: 30px 0;
}

.order__head-ico {
    width: 66px;
    float: left;
    margin-right: 25px;
}

.order__cat {
    line-height: 1;
    color: #7d7d7d;
}

.order__name {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 16px;
}

.order__description p {
    line-height: 1.6;
}

.order__properties {
    margin-top: 35px;
}

.order__properties-item {
    margin-bottom: 18px;
}

.order__properties-ico {
    margin-right: 17px;
    position: relative;
    top: -2px;
}

.order-slider {
    margin-top: 34px;
}

.order-slider .swiper-slide img {
    max-width: 100%;
    width: 100%;
}

.order__properties-name {
    width: 175px;
    display: inline-block;
}

.order__properties-value {
    font-weight: 500;
}

.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    opacity: .6;
    border-radius: 50%;
    background-color: #212122;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-family: 'ElegantIcons';
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    content: attr(data-icon);
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.leave-esponse {
    margin-top: 64px;
    padding: 54px 42px 57px;
}

.leave-esponse a.btn {
    padding: 1.38rem 3.2rem;
    margin-top: 23px;
}

.orders-page .heading-text {
    padding: 100px 0;
    background: #fff;
    margin-top: 100px;
}

.orders__item-price .orders__item-favourites {
    display: none;
}

.clients_my-orders .leads {
    margin-bottom: 60px;
}

.leads__head,
.company__sidebar,
.lk {
    padding: 35px 38px;
    border-radius: 15px;
    background: #fff;
    margin-bottom: 60px;
}

.company__sidebar {
    margin-bottom: 0;
}

.lead__head-name {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 500;
}

.leads__top {
    margin-top: 22px;
}

.leads__top-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 30px;
}

.leads__top-desc {
    font-size: 15px;
    color: #7d7d7d;
    font-weight: 300;
    margin-bottom: 30px;
}

.leads__head-filter {
    margin-bottom: 20px;
}

.leads__head-filter a,
.leads_tabs>a {
    display: inline-block;
    width: 216px;
    height: 60px;
    text-align: center;
    border: 1px #e4e6ee solid;
    border-radius: 50px;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
    padding: 1.1rem 4.9rem;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
}

.leads__head-filter a span {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 9px 0px;
    border-radius: 50%;
    background: #e4e6ee;
    text-align: center;
    font-size: 9px;
    margin-left: 10px;
}

.leads_tabs .bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle {
    font-size: 14px;
    color: #212122;
    font-weight: 400;
    padding: 21px 15px;
}

.leads_tabs .bootstrap-select .dropdown-menu>li>a {
    padding: 10px 15px;
}

.leads_tabs .filter-option-inner-inner {
    padding-right: 0px;
    font-size: 13px;
    color: #212122;
    font-weight: 300px;
}

.leads__head-filter a:nth-child(2) span {
    background: #f8d360;
}

.leads__head-filter a.active,
.leads__head-filter a:hover,
.leads_tabs a:hover {
    border-color: #f8d360;
    background: #f8d360;
    color: #212122;
}

.leads_tabs a.active {
    border-color: #f8d360;
}

.leads__head-filter a.active span,
.leads__head-filter a:hover span {
    background: #ffecb3;
    color: #212122;
}

.leads__head-desc {
    font-size: 13px;
    color: #7d7d7d;
}

.leads_tabs {
    display: flex;
    margin-bottom: 30px;
}

.leads_tabs .select {
    width: 175px;
    margin-left: auto;
}

.lk-page .filter-option-inner-inner {
    padding-right: 0;
}

.leads_tabs>a {
    width: auto;
    padding: 1.36rem 4.9rem;
    padding-left: 40px;
    padding-right: 40px;
}

.lk-page .orders__item-bottom {
    border-top: 0px;
    padding-top: 0;
}

.orders__item-btn {
    display: flex;
    justify-content: space-between;
}

.drag-drop-area {
    margin-bottom: 30px;
}

.orders__item-btn {
    padding-top: 32px;
    border-top: 1px #e4e6ee solid;
    margin-top: 25px;
}

.orders__item-send {
    color: #fff;
    padding-left: 53px;
    padding-right: 53px;
}

.orders__item-stat {
    position: relative;
    line-height: 60px;
    padding-left: 46px;
    font-size: 13px;
    font-weight: 500;
    line-height: 35px;
}

.orders__item-stat:after {
    position: absolute;
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    left: 0;
    top: 0;
    background: #f1f2f6 url('../images/svg/question.svg') center no-repeat;
    background-size: 20px;
}

.clients_my-orders .orders__item-stat:after {
    background: #f1f2f6 url('../images/svg/choise.svg') center no-repeat;
    background-size: 20px;
}

.clients_my-orders .orders__item-btn {
    display: flex;
    justify-content: space-between;
}

.orders__item__icon-items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.orders__item__icon-item {
    margin-right: 30px;
    text-decoration: none;
}

.orders__item__icon-item:last-child {
    margin-right: 0;
}

.orders__item__icon-item span.orders__item__ico {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #f8f9fb;
    text-align: center;
    border-radius: 10px;
    line-height: 40px;
}

.orders__item__icon-item span.orders__item__ico svg {
    fill: #a9a9a9;
}

.orders__item__icon-item .orders__item__ico-name {
    color: #212122;
    font-size: 13px;
    margin-left: 15px;
    font-weight: 400;
}

.orders__item__icon-item span svg {
    width: 15px;
}

.orders-page .pagintaion {
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 43px;
}

.company__name {
    position: relative;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
}

.company__name span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(0) translateY(-50%);
}

.company__photo {
    position: relative;
    width: 80px;
    height: 80px;
    min-width: 80px;
    border-radius: 50%;
}

.company__photo-edit {
    position: absolute;
    right: -5px;
    bottom: -5px;
    display: block;
    width: 28px;
    height: 28px;
    background: #e4e6ee;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
}

.company__photo-edit input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    display: none;
}

.company__photo-edit svg {
    width: 14px;
    height: 12px;
    fill: #7d7d7d;
}

.company__header {
    display: flex;
    margin-bottom: 40px;
}

.company__balance {
    margin-bottom: 30px;
}

.company__balance-title {
    font-weight: 400;
    font-size: 14px;
    color: #7d7d7d;
    line-height: 1;
    margin-bottom: 5px;
}

.company__balance-ico {
    position: relative;
    top: 11px;
    margin-left: 10px;
    display: inline-block;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: #e77561 url('../images/svg/wallet.svg') center no-repeat;
    background-size: 22px;
    background-size: 22px;
    background-position-x: 11px;
    background-position-y: 12px;
}

.company__balance-value {
    font-weight: 500;
    font-size: 24px;
    margin-top: -4px;
}

ul.company__menu {
    padding-left: 0;
    list-style: none;
    padding-top: 30px;
    border-top: 1px #e4e6ee solid;
}

ul.company__menu.logout {
    border-top: 0px;
    padding-top: 0;
}

ul.company__menu li a {
    font-size: 16px;
    color: #212122;
    font-weight: 400;
    text-decoration: none;
    margin-left: 10px;
    line-height: 36px;
}

ul.company__menu li .icon {
    fill: #a9a9a9;
}

.st1 {
    fill: #fff;
}

ul.company__menu li a span {
    width: 30px;
    height: 30px;
    background: #e4e6ee;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-left: 17px;
}

ul.company__menu li:hover a {
    color: #e77561;
}

ul.company__menu li:hover .st0 {
    fill: #e77561;
}

ul.company__menu li:hover a span {
    background: #e77561;
    color: #ffffff;
}

.modal .modal-dialog--login,
.modal-dialog--reply {
    background: #f6f7f9;
    border-radius: 10px;
}

.modal-dialog--select {
    background: #f6f7f9;
    border-radius: 10px;
    padding: 60px;
}

.modal-dialog--select a {
    display: block;
    width: 290px;
    height: 53px;
    line-height: 53px;
    border-radius: 24px;
    background: #fff;
    border: 1px #e4e6ee solid;
    text-align: center;
    font-size: 14px;
    color: #7d7d7d;
    text-decoration: none;
    transition: .3s;
}

.modal-dialog--select a:hover {
    background-color: #e77561;
    color: #fff;
}

.modal-dialog--select a:hover svg path {
    fill: #fff;
}

.modal-dialog--select a:hover svg path.orange {
    fill: #e77561;
}

.modal-dialog--select a svg {
    margin-right: 10px;
    position: relative;
    top: -3px;
}

.modal-dialog--select .modal-content {
    background: initial;
}

.modal-dialog--select a {
    margin: 0 auto;
}

.modal-dialog--select a:first-child {
    margin-bottom: 20px;
}

.modal-dialog--reply {
    max-width: 650px;
}

#modalFeedback .modal-dialog--reply {
    max-width: 800px;
}

.modal-dialog--login .modal-body,
.modal-dialog--reply .modal-body {
    padding: 60px;
}

.modal-dialog--reply .modal-body {
    padding: 80px 115px;
}

#modalFeedback .modal-dialog--reply .modal-body {
    padding: 60px;
}

#modalFeedback .btn {
    width: 100%;
}

.modal .modal-dialog--login .modal-content,
.modal-dialog--reply .modal-content {
    background: #f6f7f9;
}

.modal-dialog--login .modal-header,
.modal-dialog--reply .modal-header {
    padding: 0px;
    margin-bottom: 30px;
    border-bottom: 0px;
}

.modal-dialog--login .modal-header__title,
.modal-dialog--reply .modal-header__title {
    width: 100%;
    text-align: center;
}

.modal-dialog--login .lk-form-block,
.modal-dialog--reply .lk-form-block {
    margin-bottom: 0px;
}

.modal-dialog--login .btn {
    width: 100%;
}

.modal-dialog--login .form-contancts--column,
.modal-dialog--reply .form-contancts--column {
    min-width: 35%;
}

.modal-dialog--login .file-input .icon,
.modal-dialog--reply .file-input .icon {
    margin-right: 10px;
}

.modal-dialog--reply .file-input {
    margin-top: 15px;
}

.form-block-file {
    display: flex;
    justify-content: space-between;
}

.modal-dialog--reply .modal-close,
.modal-dialog--login .modal-close {
    top: 25px;
    right: 25px;
    z-index: 10;
}

.modal .form-textarea {
    font-weight: 400;
}

.form-block-link {
    display: flex;
    justify-content: space-between;
}

.form-block-link a {
    color: #212122;
    text-decoration: underline;
}

.btn-center .btn {
    display: block;
    margin: 13px auto 0;
    width: 180px;
    padding: 1.38rem 0;
    text-align: center;
}

.form-block-bottom {
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px #e4e6ee solid;
}

.form-block-bottom a {
    color: #e77561;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    display: inline-block;
}

p.form-desc {
    text-align: center;
    font-size: 11px;
    color: #7d7d7d;
    margin-bottom: 30px;
}

.form-block-bottom p.form-desc {
    margin-bottom: 0px;
}

p.form-desc a {
    color: #212122;
    text-decoration: underline;
    font-size: 11px;
    margin-bottom: 0;
}

.lk__header-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
}

.lk-form-block-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px #e4e6ee solid;
}

.lk-form-block {
    position: relative;
    margin-bottom: 30px;
}

label .placeholder {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateX(0) translateY(-50%);
    font-size: 15px;
    color: #7d7d7d;
    transition: .3s;
    font-weight: 400;
}

.filter-option-inner-inner {
    font-size: 15px;
    font-weight: 400;
    color: #212122;
}

label .placeholder span {
    color: #e77561;
    position: absolute;
    right: -6px;
    top: 0;
}

.foundation__item label .placeholder span {
    position: relative;
    right: auto;
    color: inherit;
}

.lk-form-block label.not-empty .placeholder,
.label-up .placeholder {
    left: 25px;
    top: 17px;
    font-size: 11px;
    color: #7d7d7d;
}

.lk-form-block input {
    width: 100%;
    border: 1px #e4e6ee solid;
    padding: 22px 23px 14px;
    font-size: 15px;
    background: #fff;
    border-radius: 15px;
    transition: .3s;
    max-width: 100%;
    color: #212122;
}

.password {
    display: none;
    opacity: 0;
}

.password.on {
    display: block;
    opacity: 1;
}

.password .lk-form-block input {
    padding: 0.8rem 25px;
    height: 42px;
    border-radius: 10px;
    border: 1px #e4e6ee solid;
    font-size: 14px;
    margin-bottom: 0;
}

.password .lk-form-block {
    margin-bottom: 15px;
}

.lk-form-block label:hover input {
    border: 1px #7d7d7d solid;
}

.lk-form-block label input:focus+.placeholder {
    top: 17px;
    font-size: 11px;
}

form input:disabled {
    background: #eff0f5;
}

.edit-input {
    display: none;
    opacity: 0;
    position: absolute;
    right: 23px;
    top: 19px;
    transition: .3s;
}

label.not-empty .edit-input {
    display: block;
    opacity: 1;
}

.edit-password {
    padding: 0.8rem 0;
    width: 165px;
    border: 1px #e4e6ee solid;
}

.edit-password:hover,
.edit-password.on {
    border: 1px #e77561 solid;
    background: #e77561;
    color: #fff;
}

.proect__slider {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.proect__slider .gallery-top .swiper-slide {
    height: 545px;
    background-size: cover;
}

.gallery-top .swiper-button-next,
.gallery-top .swiper-button-prev {
    display: none;
}

.gallery-top .swiper-pagination {
    font-size: 12px;
    z-index: 5;
    right: 1px;
    bottom: 0;
    left: auto;
    display: -ms-flexbox;
    display: none;
    width: 90px;
    height: 39px;
    opacity: .6;
    color: #fff;
    border-radius: 5px;
    background-color: #212122;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.proect__slider .thumbs {
    width: calc(100%);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 10px;
    background: rgba(37, 37, 37, .45);
    z-index: 10;
    border-radius: 15px;
    opacity: 0;
    transition: .2s ease-in-out;
}
.proect__slider:hover .thumbs{
    opacity: 1;
}

.proect__slider .gallery-thumbs .swiper-slide {
    height: 100px;
    background-size: cover;
    border: 2px;
    opacity: 0.7;
    border-radius: 18px;
    cursor: pointer;
}

.proect__slider .gallery-thumbs .swiper-slide-thumb-active,
.proect__slider .gallery-thumbs .swiper-slide:hover {
    border: 2px #f8d360 solid;
    opacity: 1;
}

.else {
    display: -ms-flexbox;
    display: block;
    margin-bottom: 32px;
    padding: 41px 39px;
    height: 189px;
    text-decoration: none;
    color: #121212;
    font-size: 16px;
    border-radius: 15px;
    background-color: #fffcf2;
    -ms-flex-align: center;
    align-items: center;
}

.else>div {
    width: 67px;
    margin-bottom: 26px;
}

.else-list {
    margin-bottom: 71px;
}

.else-block {
    padding-top: 108px;
    padding-bottom: 50px;
    background-color: #fff;
}

.else-block .h-title {
    margin-bottom: 36px;
}

.else .icon {
    width: 80px;
    height: 80px;
    margin-right: 32px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.else--green {
    background-color: #f4fbf2;
}

.else--purple {
    background-color: #f2f4fa;
}

/* Базовый контейнер табов */
.tabs {
    width: 100%;
}

.tabs__ico {
    display: block;
    margin: 0 auto;
    margin-bottom: 18px;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat !important;
}

.project_01 .tabs__ico {
    background: url('../images/svg/project_01.svg');
}

.project_02 .tabs__ico {
    background: url('../images/svg/project_02.svg');
}

.project_03 .tabs__ico {
    background: url('../images/svg/project_03.svg');
}

.project_04 .tabs__ico {
    background: url('../images/svg/project_04.svg');
}

.project_05 .tabs__ico {
    background: url('../images/svg/project_05.svg');
}

.project_06 .tabs__ico {
    background: url('../images/svg/project_06.svg');
}

.project_01:hover .tabs__ico,
.tabs>input:checked+label.project_01 .tabs__ico {
    background: url('../images/svg/project_01_activ.svg');
}

.project_02:hover .tabs__ico,
.tabs>input:checked+label.project_02 .tabs__ico {
    background: url('../images/svg/project_02_activ.svg');
}

.project_03:hover .tabs__ico,
.tabs>input:checked+label.project_03 .tabs__ico {
    background: url('../images/svg/project_03_activ.svg');
}

.project_04:hover .tabs__ico,
.tabs>input:checked+label.project_04 .tabs__ico {
    background: url('../images/svg/project_04_activ.svg');
}

.project_05:hover .tabs__ico,
.tabs>input:checked+label.project_05 .tabs__ico {
    background: url('../images/svg/project_05_activ.svg');
}

.project_06:hover .tabs__ico,
.tabs>input:checked+label.project_06 .tabs__ico {
    background: url('../images/svg/project_06_activ.svg');
}

/* Стили секций с содержанием */
.tabs>section {
    display: none;
    padding: 70px 0 0;
    background: #fff;
}

.materials-content ul {
    padding-left: 0;
    list-style: none;
}

.materials-content ul li {
    padding-left: 36px;
    background: url('../images/list.png') left center no-repeat;
    margin-bottom: 25px;
}

.tabs>section>p {
    margin: 0 0 5px;
    line-height: 1.5;
    color: #383838;
    /* прикрутим анимацию */
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.completed-work .leads {
    margin-bottom: 90px;
}

/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Прячем чекбоксы */
.tabs>input {
    display: none;
    position: absolute;
}

/* Стили переключателей вкладок (табов) */
.tabs>label {
    float: left;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #212122;
    border-bottom: 1px solid #212122;
}

/* Изменения стиля переключателей вкладок при наведении */

.tabs>label:hover {
    position: relative;
    color: #e77561;
    cursor: pointer;
}

.tabs>label:hover:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -3px;
    left: 0;
    background: #212122;
}

/* Стили для активной вкладки */
.tabs>input:checked+label {
    color: #ea8b7c;
    background: #fff;
}

.tabs>input:checked+label:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -3px;
    left: 0;
    background: #212122;
}

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1,
#tab2:checked~#content-tab2,
#tab3:checked~#content-tab3,
#tab4:checked~#content-tab4,
#tab5:checked~#content-tab5,
#tab6:checked~#content-tab6 {
    display: block;
}

/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/
.clr {
    clear: both;
}

@media screen and (max-width: 680px) {
    .tabs>label {
        font-size: 0;
    }

    .tabs>label:before {
        margin: 0;
        font-size: 18px;
    }


}

/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
    .tabs>label {
        padding: 15px;
    }
}

.materials-block,
.specifications-block {
    padding-top: 92px;
    padding-bottom: 50px;
    background-color: #fff;
}

.materials-block {
    padding-bottom: 0;
}

.materials-block .h-title {
    margin-bottom: 20px;
}

.specifications-block {
    padding-top: 100px;
    padding-bottom: 110px;
    background-color: #f6f7f9;
}

.specifications__container {
    padding: 33px;
    background: #fff;
    border-radius: 15px;
}

.specifications__more {
    display: block;
    margin: 0 auto 0 0;
    color: #e77561;
    text-align: right;
    font-weight: 500;
    text-decoration: underline;
}

.specifications-block ul.on {
    height: auto;
}

.specifications__video-container {
    position: relative;
    background: #212122;
    border-radius: 15px;
    z-index: 1;
    height: 100%;
}

.specifications__video {
    position: relative;
    height: 431px;
    overflow: hidden;
    border-radius: 15px;
}

.specifications__video img.specifications__video-cover {
    opacity: 0.5;
    height: 100%;
    max-width: initial;
    min-width: 100%;
}

.specifications__video .play {
    opacity: 1;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    transition: .3s;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: #e77561;
    text-align: center;
}

.specifications__video .play:hover {
    opacity: 0.7;
}

.specifications__video .play img {
    opacity: 1;
    width: 15px;
}

.specifications__container .h-title {
    margin-bottom: 17px;
}

.specifications-block ul {

    overflow: hidden;
    list-style: none;
    padding-left: 0;
}

.specifications-block ul li {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.specifications-block ul li:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    top: 15px;
    z-index: 1;
    position: absolute;
    border-top: 1px #000 dotted;
}

.specifications-block ul li span:first-child {
    padding-right: 10px;
    background: #fff;
    position: relative;
    z-index: 2;
}

.specifications-block ul li span:last-child {
    padding-left: 10px;
    background: #fff;
    position: relative;
    z-index: 2;
}

.facades-block {
    padding-top: 92px;
    padding-bottom: 80px;
    background-color: #fff;
}

.facades__items {
    display: flex;
    margin-bottom: 90px;
    margin-left: -15px;
    margin-right: -15px;
}

.facades__item {
    padding: 0 15px;
}

.facades__item img {
    max-width: 100%;
}


.facades__about .h-title {
    margin-bottom: 18px;
}

.plan {
    margin: 80px 0 100px;
}

.plan-zoom {
    display: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    display: block;
    width: 50px;
    height: 50px;
    background: url('../images/zoom.png') no-repeat;
    transition: .3s;
}

.plan-sliders .plan-sliders-container {
    position: relative;
    background: #fff;
    border-radius: 15px;
    position: relative;
    text-align: right;
}

.plan-sliders .plan-sliders-container:hover .plan-zoom {
    display: block;
    opacity: 1;
}

.plan-sliders-title {
    position: absolute;
    left: 31px;
    top: 29px;
    font-size: 15px;
    color: #7d7d7d;
    font-weight: 400;
}

.plan-sliders-plottage {
    position: absolute;
    left: 31px;
    top: 60px;
    font-size: 20px;
    color: #212122;
    font-weight: 500;
    z-index: 10;
}

.plan-sliders-img {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 30px;
    text-align: right;
    max-height: 400px;
}

.proect__description {
    margin-bottom: 30px;
}

.proect__cat {
    color: #212122;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
}

.proect__cat:hover {
    color: #e77561;
}

.object__developer .proect__cat {
    font-weight: 400;
}

.proect__raiting {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f8d360;
    padding: 5px 10px;
    margin-left: 20px;
    margin-right: 23px;
    font-size: 13px !important;
}

.projectlist-page .proect__raiting {
    font-size: 13px;
}

.proect__rew {
    text-decoration: underline;
    color: #212122;
    transition: .3s;
}

.proect__rew:hover {
    color: #e77561;
}

.proect__raiting img {
    width: 14px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.proect__desc {
    padding: 40px 25px;
    border-radius: 15px;
    background: #fff;
}

.proect__top {
    display: flex;
    font-size: 15px;
    color: #7d7d7d;
    /* justify-content: space-between; */
}

.proect__top .proect__top-property {
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.proect__top .proect__top-property span {
    font-size: 20px;
    font-weight: 500;
    color: #212122;
    white-space: nowrap;
    /* margin-left: 15px; */
}
.proect__top .proect__top-property span a{
  color: #212122;
}
.proect__top .proect__top-property span a:hover{
  text-decoration: none;
}

.proect__top .proect__top-property:first-child {
    border-right: 1px #e4e6ee solid;
    padding-right: 25px;
}

.proect__top .proect__top-property:last-child {
    padding-left: 28px;
}

.proect__comfort {
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px #e4e6ee solid;
    margin-bottom: 25px;
}

.object__desc {
    font-size: 15px;
    margin-bottom: 35px;
    color: #7d7d7d;
    transition: .3s;
    cursor: pointer;
}
.object__desc a{
  text-decoration: none;
  color: #7d7d7d;
}

.object__desc:hover,
.object__desc a:hover{
    color: #212122;
}

.object-body {
    position: relative;
}

.object__developer {
    position: absolute;
    right: 40px;
    top: 25px;
    text-align: right;
}

.object__developer .proect__cat {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
}

.object__comfort {
    border-bottom: 1px #e4e6ee solid;
}

.projectlist-page .object__comfort {
    padding-bottom: 13px;
}

.object__comfort .row {
    width: 100%;
}

.object__comfort-list>div {
    margin-bottom: 25px;
}

.object__comfort .proect__comfort-property:first-child,
.completed-work .proect__comfort-property:first-child {
    margin-right: 0;
}

.object__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.object__bottom .proect__specifications-item {
    position: relative;
    top: 20px;
    margin-right: 40px;
}

.projectlist-page .object {
    overflow: initial;
}

.object .object__bottom .btn {
    width: 225px;
    background: #fff;
    border: 1px #e77561 solid;
    color: #212529;
}

.object .object__bottom .btn:hover {
    background: #e77561;
    color: #fff;
}

.proect__suitable {
    padding-bottom: 20px;
    border-bottom: 1px #e4e6ee solid;
    margin-bottom: 29px;
}

.proect__suitable-title {
    font-size: 15px;
    color: #212122;
    font-weight: 500;
    margin-bottom: 20px;
}

.proect__suitable-property img {
    width: 45px;
    height: 35px;
    margin-right: 15px;
}

.proect__raiting {
    font-weight: 500;
}

.proect__comfort-property {
    line-height: 30px;
}

.proect__comfort-property span span {
    font-weight: 500;
}

.proect__comfort-property:first-child {
    margin-right: 57px;
}

.proect__comfort-property img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.proect__comfort-property a {
    color: #212122;
}
.proect__comfort-property a:hover{
    text-decoration: none;
}

.proect__specifications-item {
    display: flex;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1;
}

.proect__specifications-name {
    flex: none;
    width: 82px;
}

.proect__specifications-value {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3;
}
.proect__specifications-value a{
  color: #212122;
}
.proect__specifications-value a:hover{
  text-decoration: none;
}

.completed-work .proect__specifications-value {
    line-height: 50px;
}

.old-price {
    font-size: 15px;
    color: #7d7d7d;
    font-weight: 400;
    line-height: 1;
}

.new-price {
    font-size: 18px;
    /* margin-left: 8px; */
    line-height: 1;
}

.proect__specifications-price {
    line-height: 1;
}

.proect__desc .btn {
    margin-top: 18px;
    width: 100%;
}

.facades__slider {
    display: none;
}

.specifications__more span:after,
.mobile-tabs,
.object__bottom.mobile {
    display: none;
}

.foryou {
    display: inline-block;
    position: relative;
}

.foryou:hover .control__container {
    display: block;
    visibility: visible;
    opacity: 1;
    top: 50px;
    right: calc(50% - 0px);
    -webkit-transform: translateX(50%) translateY(0);
    transform: translateX(50%) translateY(0);
}

.foryou .control__main,
.for .control__main {
    background: #464646;
    color: #fff;
    padding: 10px;
    font-size: 11px;
    line-height: 1.5;
    text-align: left;
}

.foryou .control__main strong,
.for .control__main strong {
    display: block;
}

.foryou:hover .control__main:after,
.for:hover .control__main:after {
    display: none;
}

.object__bottom-right {
    display: flex;
    justify-content: end;
}

.projectlist-page .main--catalog>.container-fluid {
    padding-bottom: 100px;
}

.object-slider .right-control,
.proect__slider .right-control {
    display: flex;
    top: 20px;
    right: 20px;
}

.projectlist-page .object__images {
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
}

.object-slider .right-control>div,
.proect__slider .right-control>div {
    margin-left: 12px;
}

.object-slider .right-control>div svg,
.proect__slider .right-control>div svg {
    fill: #fff;
}

.object-slider .right-control>div svg.icon-compare,
.proect__slider .right-control>div svg.icon-compare {
    max-height: 15px;
}

.object-slider .right-control .control__icon,
.proect__slider .right-control .control__icon {
    line-height: 50px;
    text-align: center;
}

.object-slider .right-control>div:hover svg,
.proect__slider .right-control>div:hover svg {
    fill: #ffd456;
}

.projectlist-page .object-slider .control__main,
.proect__slider .control__main {
    background: #fff;
    color: #212122;
    padding: 15px 20px;
}

.control.control--favorites.control--favorites--active .control__icon svg,
.control.control--share.js-control-share.show-share .control__icon svg {
    fill: #ffd456;
}

.form-esponse {
    margin-bottom: 18px;
    margin-top: 0px;
    padding: 75px 42px 55px 80px;
    background: #fff url(../images/form-bg.png) right bottom no-repeat;
}

.form-esponse p {
    line-height: 1.8;
    margin-bottom: 38px;
}

.form-esponse .form-contancts .form-input {
    border: 1px #e4e6ee solid;
}

.form-esponse .form-contancts--column {
    max-width: 22%;
    margin-right: 20px;
}

.form-esponse .form-contancts {
    justify-content: flex-start;
}

.form-esponse .form-contancts .btn {
    max-width: 196px;
    padding: 1.38rem 0;
    text-align: center;
}

.form-esponse .fake-check {
    line-height: 28px;
}

.form-esponse .fake-check svg {
    background-color: #f2f4fa;
}

.form-contancts .btn.btn-mobile {
    display: none;
}

.projectlist-page .filter-item {
    width: 150px;
    padding: 1.2rem 1.5rem;
    font-weight: 500;
    font-size: 13px;
    border-radius: 50px;
}

.bootstrap-select {
    position: relative;
    z-index: 5;
}

.bootstrap-select.show {
    z-index: 6;
}

.bootstrap-select .dropdown-menu>li>a {
    padding: 15px 25px;
}

.sort .filter-option-inner-inner {
    font-size: 14px;
}

.projectlist-page .filter-item--active,
.projectlist-page .filter-item:hover {
    background-color: #f6f7f9;
}

.dropdown-toggle:after {
    border-right: 0 solid transparent !important;
    border-bottom: 0 solid !important;
    border-left: 0 solid transparent !important;
    background-image: url(../images/icon-arrow_up--red.svg);
}

.projectlist-page .object__name {
    margin-bottom: 6px;
}

.projectlist-page .bootstrap-select>.dropdown-toggle.bs-placeholder {
    color: #212122;
    font-weight: 300;
}

.notifications__item {
    position: relative;
    padding: 30px 55px 30px 30px;
    border-radius: 15px;
    background: #fff;
    display: flex;
    font-size: 14px;
    color: #a7a7a7;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s;
}

.notifications__item:hover {
    background: #fefbef;
}

.notifications__item:after {
    position: absolute;
    top: 36px;
    right: 30px;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #a7a7a7;
}

.notifications__item.active {
    font-weight: 500;
    color: #212122;
}

.notifications__item.active:after {
    background: #e77561;
}

.notifications__item.active .notifications__data {
    color: #7d7d7d;
    font-weight: 400;
}

.notifications__item .row {
    width: 100%;
}

.notifications__item .row>div:nth-child(2) {
    padding-right: 0;
}

.notifications__name {
    padding-right: 60px;
    max-height: 42px;
    overflow: hidden;
    transition: .3s;
}

.notifications__item.on .notifications__name {
    max-height: inherit;
}

.more {
    position: absolute;
    left: 50%;
    bottom: 9px;
    display: block;
    width: 10px;
    height: 6px;
    background: url(../images/svg/icon-arrow_up.svg) no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: .3s;
}

.notifications__item.on .more {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.notifications__data {
    display: flex;
    justify-content: space-between;
}

.notifications__head {
    display: flex;
    margin-bottom: 30px;
    line-height: 1;
    justify-content: space-between;
}

.notifications__title {
    font-weight: 500;
    font-size: 22px;
    color: #212122;
}

.notifications__head a {
    font-weight: 400;
    text-decoration: underline;
    color: #212122;
}

.completed__container {
    padding: 10px 45px 30px 45px;
    border-radius: 15px;
    background: #fff;
}

.completed__item:last-child,
.completed__wrap {
    margin-bottom: 80px;
}

.clone_block_service {
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px #e4e6ee solid;
}

.clr {
    clear: both;
}

.block_material .row,
.block_social .row {
    position: relative;
}

.block_remove {
    position: absolute;
    top: 18px;
    right: -7px;
}

.service_remove,
.staff_remove {
    float: right;
    text-decoration: none;
    margin-bottom: 20px;
}

.service_remove span,
.staff_remove span {
    font-size: 15px;
    color: #212122;
    margin-left: 15px;
    border-bottom: 1px #212122 solid;
    padding-bottom: 0px;
}

.form-map {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 16px;
}

.house_plan-item .inline.form-block {
    display: inline-block;
    position: relative;
}

.house_plan-item .inline.form-block .block_remove {
    right: -25px;
}

.form-block input.form-input {
    width: 100%;
    max-width: 100%;
    color: #212122;
}

.form-input {
    font-weight: 400;
    transition: .3s;
}

.not-empty .form-input {
    background: #eff0f5;
    /*padding-top: 15px;*/
}

.form-block .select,
.form-block-service .select {
    max-width: 100%;
}

.form-block .select:nth-child(1),
.form-block-service .select:nth-child(1) {
    z-index: initial;
}

.form-block .select.select-up,
.form-block-service .select.select-up {
    /* z-index: 9999; */
}

.form-block .uppy-Dashboard-inner {
    width: 100%;
}

.form-block__name {
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 25px;
}

.form-block__desc {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
}

.form-main-block {
    margin-top: 20px;
}

.form-inline {
    position: relative;
}

.form-inline label {
    width: 100%;
    max-width: 585px;
}

label {
    position: relative;
}

.type-relevance {
    padding-left: 10px;
}

.form-inline label .btn {
    width: 100%;
    max-width: 140px;
    padding: 1.38rem 0;
    text-align: center;
    position: relative;
    top: -8px;
    left: -35px;
}

.form-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 1px #e4e6ee solid;
    padding-top: 30px;
    margin-top: 30px;
}

.form-contancts .form-bottom {
    justify-content: flex-start;
    padding-top: 0;
    margin-top: 0;
    border-top: 0px;
}

.completed__item {
    margin-bottom: 15px;
}

.add-item,
.add-item-material {
    float: right;
    text-decoration: none;
    margin-bottom: 20px;
}

.house_plan-bottom .add-item {
    float: none;
}

.add-item .add-item_link,
.add-item-material .add-item_link {
    text-decoration: underline;
    font-size: 15px;
    color: #212122;
    margin-left: 10px;
}

.add-item span.add-item_ico,
.add-item-material span.add-item_ico {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #5fad56;
    border-radius: 50%;
}

.form-block .uppy-Dashboard-inner {
    background: #fff;
    border: 1px #929292 dashed;
    margin-bottom: 25px;
}

.form-block [data-uppy-drag-drop-supported=true] .uppy-Dashboard-AddFiles {
    border-radius: 0px;
    border: 0px dashed #dfdfdf;
    margin: 0px;
}

.form-textarea {
    font-size: 14px;
    font-weight: 300;
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    padding-left: 25px;
    color: #212122;
    border-width: 1px;
    border-style: solid;
    border-color: #e4e6ee;
    border-radius: 10px;
    padding-top: 25px;
}

.completed__block-name {
    position: relative;
    padding-left: 70px;
}

.completed__block-name strong {
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
}

.completed__block-desc {
    font-weight: 400;
    font-size: 15px;
}

.completed__block__img {
    position: absolute;
    top: 5px;
    left: 0;
}

.completed__block__img img {
    width: 50px;
}

.form-question {
    display: flex;
    line-height: 50px;
}

.form-question span {
    margin-right: 80px;
    font-weight: 400;
}

.form-question a {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background: #eff0f5;
    text-align: center;
    color: #212122;
    text-decoration: none;
    border-radius: 8px;
    margin-right: 15px;
}

.form-question a.active,
.form-question a:hover {
    background: #e77561;
    color: #fff;
}

.btn.off {
    color: #7d7d7d;
    border-color: #e4e6ee;
    cursor: not-allowed;
}

.btn.off:hover {
    border-color: #e4e6ee;
    background: initial;
}

.menu-modal__item .btn {
    padding: 1.28rem 2.5rem;
    width: 252px;
    text-align: center;
}

.menu-modal__item .btn svg {
    margin-right: 5px;
}

.completed__container .order__new-btn {
    border: 1px #e77561 solid;
}

.completed__container .order__new-btn:hover {
    background: #e77561;
}

.technologies.completed__container .order__new-btn {
    border: 1px #000000 solid;
    float: none;
}

.technologies.completed__container .order__new-btn:hover {
    background: #000000;
}

.myprofile-page .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.uppy-size--md .uppy-Dashboard-AddFiles-title {
    font-size: 15px;
}

.clients_my-favourites .object-list--catalog .object__images {
    height: 238px;
}

.clients_my-favourites .object-body {
    padding: 30px 35px;

}

.clients_my-favourites .object .btn {
    width: 100%;
    max-width: 100%;
}

.leads__items {
    margin-bottom: 40px;
}

.leads__items .object__images {
    height: 210px;
}

@media (max-width: 1200px) {
    .orders__item__ico-name {
        display: none;
    }

    .orders__item__icon-item {
        margin-right: 10px;
    }

    .form-block__name {
        font-size: 20px;
    }

    .notifications__data {
        display: block;
        text-align: right;
    }

    .leads__head {
        padding: 30px;
    }

    .leads__head {
        margin-bottom: 50px;
    }

    .leads_tabs .select {
        margin-bottom: 0;
    }

    .leads__head-filter a {
        width: 177px;
        font-size: 13px;
        margin-right: 15px;
    }

    .leads__head-filter a:last-child {
        margin-right: 0px;
    }

    .company__name {
        line-height: 1.6;
    }

    .projectlist-page .object__developer {
        position: relative;
        right: auto;
        top: 0;
        text-align: left;
    }

    .projectlist-page .object__developer .proect__cat {
        margin-left: 0;
        display: inline-block;
        margin-bottom: 0px;
    }

    .projectlist-page .object__comfort-list>div:nth-last-child(-2n+2),
    .projectlist-page .object__comfort-list>div:last-child {
        margin-bottom: 10px;
    }

    .projectlist-page .object__desc {
        margin-bottom: 20px;
    }

    .projectlist-page .control__icon,
    .proect__slider .control__icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .projectlist-page .object-slider .right-control .control__icon,
    .proect__slider .right-control .control__icon {
        line-height: 40px;
    }

    .projectlist-page .object .object__bottom .btn {
        max-width: 196px;
        margin-left: 20px;
    }

    .object__bottom .proect__specifications-item {
        margin-right: 10px;
    }

    .proect__top .proect__top-property span {
        margin-left: 5px;
    }

    .else {
        padding: 19px 34px;
        height: 190px;
    }

    .else img {
        width: 68px;
        height: 70px;
    }

    .tabs>label {
        font-size: 15px;
        padding: 15px 15px;
    }


    .specifications__video {
        height: 339px;
        overflow: hidden;
        border-radius: 15px;
    }

    .order,
    .leave-esponse,
    .order__recommendations {
        padding: 30px 30px;
    }

    .form-esponse .politic {
        max-width: 480px;
    }

    .form-esponse .fake-check {
        line-height: 1.6;
    }

    .form-esponse {
        background-position: 637px 0px;
        background-size: 50%;
        padding: 60px;
    }

    .form-esponse .form-contancts--column {
        max-width: 30%;
    }

    .form-esponse .form-contancts--column.last {
        max-width: 23%;
    }

    .orders-page .heading-text {
        padding: 90px 0;
        margin-top: 90px;
    }

    .orders__item-title,
    .order__name {
        font-size: 16px;
    }

    .order__cat {
        font-size: 14px;
    }

    .order__new-btn {
        float: left;
        margin-left: 93px;
        margin-top: 20px;
    }

    .order__new-title {
        max-width: 90%;
        float: none;
    }

    .orders__item-bottom>div {
        font-size: 15px;
        margin-right: 64px;
    }

    .orders__item-bottom>div:last-child {
        margin-right: 0;
    }

    .order__tags-item {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .d-md-hide {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .top-header a {
        line-height: 37px;
        border-left: 0px;
    }

    .hidden-sm {
        display: none !important;
    }

    .company__balance-ico {
        width: 37px;
        height: 37px;
        background-size: 18px;
    }

    .completed__item {
        margin-bottom: 60px;
    }

    .notifications {
        margin-top: 20px;
    }

    .company__menu {
        display: none;
    }

    .login-modal .company__menu {
        display: block;
    }

    .company__sidebar {
        padding: 0;
        background: initial;
        margin-bottom: 10px;
        display: flex;
    }

    .lk {
        padding: 30px 15px;
    }

    .company__header,
    .company__balance {
        padding: 30px 30px;
        border-radius: 15px;
        background: #fff;
        margin-bottom: 10px;
        max-width: 50%;
        width: 100%;
    }

    .company__header {
        margin-right: 7.5px;
    }

    .company__balance {
        display: block;
        margin-left: 7.5px;
    }

    .company__balance-value,
    .notifications__title {
        font-size: 20px;
    }

    .notifications__head a {
        font-size: 14px;
    }

    .company__balance-title {
        margin-right: 12px;
        margin-bottom: 0;
    }

    .completed__block-name {
        padding: 0 15px;
        padding-left: 60px;
        font-size: 15px;
        margin-bottom: 30px;
    }

    .completed__block__img img {
        width: 35px;
    }

    .completed__block__img {
        left: 15px;
    }

    .form-block__name {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .form-esponse .fake-check {
        font-size: 11px;
    }

    .object-slider .right-control,
    .proect__slider .right-control {
        right: 15px;
        top: 15px;
    }

    .new-price {
        float: right;
    }

    .proect__specifications-value .for {
        display: none;
    }

    .projectlist-page .filter-item {
        width: auto;
    }

    .form-esponse {
        padding: 50px 33px;
        background-position: 493px 64px;
        background-size: 60%;
    }

    .form-esponse .form-contancts--column {
        max-width: 47%;
    }

    .form-contancts .form-bottom .btn.btn-mobile {
        display: block;
        padding: 13px 0;
        height: 60px;
        width: 100%;
        max-width: 47%;
    }

    .form-contancts .form-bottom {
        width: 100%;
        display: flex;
    }

    .form-esponse .politic {
        max-width: 47%;
    }

    .object__desc {
        margin-bottom: 15px;
    }

    .object__comfort {
        border-bottom: 0px;
    }

    .object__bottom {
        display: none;
    }

    .object__bottom.mobile {
        display: flex;
        margin-top: 0px;
        justify-content: flex-start;
    }

    .object__bottom-left {
        margin-right: 55px;
    }

    .object .object__bottom .btn {
        margin-left: 0;
    }

    .object__developer {
        position: relative;
        top: 0;
        left: 0;
        right: auto;
    }

    .object__developer .proect__cat {
        display: inline-block;
    }

    .object .proect__comfort-property {
        line-height: 14px;
        font-size: 14px;
    }

    .object .proect__comfort-property img {
        margin-right: 10px;
    }

    .object__comfort .proect__comfort-property:nth-child(odd) {
        padding-right: 0;
    }

    .plan {
        margin-bottom: 80px;
    }

    .facades-block {
        padding-top: 80px;
    }

    .proect__slider {
        margin-bottom: 20px;
    }

    .proect__slider .gallery-top .swiper-slide {
        height: 373px;
    }

    .proect__slider .thumbs {
        display: none;
    }

    .proect__top .proect__top-property:nth-child(2) {
        padding-left: 15px;
    }

    .proect__block {
        border-bottom: 1px #e4e6ee solid;
        padding-bottom: 35px;
        margin-bottom: 25px;
    }

    .proect__comfort {
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        border: 0px;
        position: relative;
        top: -5px;
    }

    .proect__suitable {
        display: flex;
    }

    .proect__suitable-property {
        position: relative;
        top: -5px;
        margin-left: 25px;
    }

    .proect__desc .btn {
        display: block;
        width: 236px;
        margin: 15px auto 0;
        padding: 1.38rem 0;
    }

    .proect__block {
        display: flex;
        justify-content: space-between;
    }

    .plan-sliders-plottage {
        font-size: 17px;
    }

    .plan-sliders-img img {
        max-width: 230px;
    }

    .else {
        height: 110px;
        display: flex;
    }

    .else>strong {
        line-height: 50px;

    }

    .else>div {
        width: 50px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .tabs>section {
        padding-top: 45px;
    }

    .tabs>label {
        padding: 15px 8px;
    }

    .tabs__ico {
        width: 50px;
        height: 50px;
    }

    .tabs>label {
        font-size: 15px;
    }

    .leave-esponse {
        margin-bottom: 60px;
    }

    .orders-page .heading-text {
        padding: 80px 0;
        margin-top: 80px;
    }

    .orders__item-bottom>div {
        margin-right: 60px;
    }

    .orders__item-bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .order__filter {
        padding: 30px;
        background: #fff;
        border-radius: 15px;
    }

    .order__top>div {
        margin-right: 30px;
        margin-top: 0;
    }

    .order__new-title {
        float: left;
        max-width: 65%;
        position: relative;
        padding-left: 93px;
    }

    .order__new-btn {
        float: right;
        margin-left: 0;
        margin-top: 0;
    }

    .order__filter-block .select {
        width: 100%;
        max-width: 100%;
        border-radius: 4px;
    }

    .select:before {
        background-image: url(../images/icon-arrow_up--red.svg);
    }

    .order__filter-title,
    .order__tags-title {
        margin-bottom: 18px;
        font-size: 15px;
    }

    .order__filter-block .bootstrap-select>.dropdown-toggle:after {
        top: 52%;
        right: 20px;
        background-image: url(../images/icon-arrow_up--red.svg);
        background-size: 12px;
    }

    .order__filter {
        margin-bottom: 20px;
    }
}

.block_service .form-bottom {
    margin-top: 0;
}

.foryou-mobile,
.visible-xs {
    display: none;
}

.for {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #e4e6ee;
    border-radius: 50%;
}

.for img {
    max-width: 30px;
}

.edit-password {
    color: #7d7d7d;
}

.notifications__data.mobile {
    display: none;
}

.technologies__item {
    margin-bottom: 25px;
    padding: 30px;
    height: 177px;
    border-radius: 15px;
    background-color: #fffcf2;
    -ms-flex-align: center;
}

.technologies__item .checkbox:checked+label .technologies__item {
    border: 2px #e77561 solid;
}

.technologies__item.else--purple {
    background-color: #f2f4fa;
}

.technologies__item.else--green {
    background-color: #f4fbf2;
}

.technologies__item .checkbox+label {
    position: initial;
    padding-left: 0;
}

.technologies__item .checkbox+label:before {
    left: auto;
    top: 15px;
    right: 30px;
    background: #fff;
}

.technologies__item .checkbox:checked+label:before {
    border-color: #e77561;
    background: #e77561;
}

.technologies__item .checkbox:checked+label:after {
    width: 20px;
    height: 20px;
    left: auto;
    right: 30px;
    top: 15px;
    background: url(../images/svg/chek_b_active.svg)
}

.technologies__ico {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.technologies__name {
    color: #121212;
    font-weight: 500;
    text-decoration: underline;
}

.technologies__ico img {
    width: 60px;
}

.form-block__ico {
    width: 30px;
    margin-left: 10px;
}

.notifications-page .container-fluid,
.myprofile-page .container-fluid,
.myorder-page .container-fluid,
.myfavourites-page .container-fluid {
    margin-bottom: 60px;
}

.completed-work .orders__item-btn {
    margin-top: 0px;
}

.completed-work .object-characteristic__name {
    width: 175px;
}

.completed-work .object__info .object__strong {
    font-weight: 400;
}

.completed-work .object__images {
    border-radius: 12px;
}

.completed-work .object__area {
    height: 35px;
    min-width: 85px;
    font-size: 16px;
}

.completed-work .orders__item-address {
    color: #7d7d7d;
    font-size: 15px;
    padding-bottom: 25px;
    border-bottom: 1px #e4e6ee solid;
}

.completed-work .orders__item-address svg {
    margin-right: 5px;
}

@media (min-width: 992px) {
    .hidden-md {
        display: none;
    }
}

@media (max-width: 992px) {
    .visible-sm {
        display: block;
    }

    .completed-work .orders__item-content {
        margin-top: 0px;
    }

    .completed-work .orders__item-title {
        margin-bottom: 8px;
    }

    .completed-work .orders__item-desc {
        margin-bottom: 26px;
    }

    .completed-work .orders__item-address {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .completed-work .object__characteristics {
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom: 1px;
    }

    .completed-work .object__images {
        width: 100%;
    }

    .completed-work .object__comfort-list>div {
        margin-bottom: 15px;
    }

    .completed-work .orders__item-btn {
        display: flex;
    }

    .completed-work .orders__item__icon-items {
        width: auto;
    }

    .completed-work .orders__item-btn>div {
        width: 50%;
    }

    .completed-work .orders__item-btn>div:first-child {
        display: flex;
    }

    .completed-work .foryou {
        margin-right: 70px;
    }

    .completed-work .new-price {
        float: none;
    }
}

@media (max-width: 767px) {
    #modalFeedback .modal-dialog--reply .modal-body {
        padding: 50px 17px;
    }

    .hidden-xs {
        display: none;
    }

    .completed-work .orders__item-btn>div {
        width: 100%;
    }

    .completed-work .foryou {
        margin-right: 30px;
    }

    .completed-work .old-price,
    .completed-work .new-price {
        float: none !important;
    }

    .completed-work .orders__item-title {
        margin-top: 25px;
    }

    .orders__item-head .orders__item-status {
        top: 42px;
    }

    .completed-work .orders__item-btn {
        display: block;
    }

    .completed-work .orders__item__icon-items {
        justify-content: flex-start;
        padding-top: 17px;
        border-top: 1px #e4e6ee solid;
        margin-top: 17px;
    }

    .lk-form-block input {
        padding: 0 23px 0 23px;
        text-align: left;
        line-height: 60px;
    }

    /* input,
    textarea,
    select {
        font-size: 16px !important;
    } */

    input::-webkit-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    input::-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    input:-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    input:-ms-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .completed__item {
        margin-bottom: 30px;
    }

    .hide-xs {
        display: none;
    }

    .orders__item-send {
        width: 100%;
        max-width: 375px;
    }

    .form-textarea {
        padding: 13px;
    }

    .orders__item-stat {
        margin-bottom: 20px;
    }

    .lk-form-block label.not-empty .placeholder,
    .label-up .placeholder {
        left: 23px;
        top: 14px;
    }

    .company__balance-title {
        line-height: 41px;
    }

    .company__balance-value {
        margin-top: -9px;
    }

    .technologies__ico {
        width: 40px;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .technologies__item {
        height: 85px;
        padding: 20px;
    }

    .technologies__name {
        font-size: 14px;
        max-width: 150px;
    }

    .technologies.completed__container .order__new-btn {
        width: 100%;
        max-width: 375px;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .technologies__item .checkbox+label:before {
        top: 34px;
    }

    .technologies__item .checkbox:checked+label:after {
        top: 34px;
    }

    .form-inline input.form-input {
        max-width: 80%;
    }

    .form-inline label .btn {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
    }

    a.add-item {
        display: block;
        float: none;
        width: 100%;
        max-width: 375px;
        border: 1px #5fad56 solid;
        line-height: 60px;
        text-align: center;
        border-radius: 8px;
    }

    .add-item span.add-item_ico {
        background: initial;
        color: #5fad56;
        position: relative;
        top: 2px;
        font-size: 23px;
        font-weight: 400;
    }

    .add-item .add-item_link {
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        margin-left: 0;
    }

    .notifications__data.mobile {
        display: block;
        position: absolute;
        top: 20px;
        left: 36px;
    }

    .notifications-page .company__sidebar,
    .notifications__head a,
    .notifications__meta {
        display: none;
    }

    .notifications__name {
        padding-right: 0;
    }

    .notifications__item {
        padding: 53px 15px 25px 15px;
    }

    .notifications__item:after {
        right: auto;
        left: 15px;
        top: 26px;
    }

    .myfavourites-page h1 {
        display: block !important;
    }

    .leads__items .orders__item {

        margin-bottom: 10px;
    }

    .myorder-page .container-fluid,
    .myfavourites-page .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }

    .leads__head {
        margin-bottom: 30px;
    }

    .leads__head-desc {
        display: none;
    }

    .leads__select-filter {
        margin-bottom: 0;
    }

    .leads__select-filter,
    .leads_tabs-filter {
        display: block !important;
        max-width: 375px;
    }

    .leads_tabs-filter {
        width: 100%;
        max-width: 375px;
        line-height: 60px;
        border: 1px #f8d360 solid;
        font-size: 15px;
        font-weight: 500;
        border-radius: 45px;
        color: #212122;
        text-align: center;
        text-decoration: none;
        margin-bottom: 20px;
    }

    .leads_tabs-filter img {
        width: 15px;
        margin-right: 15px;
    }

    .leads__select-filter select {
        background: #f8d360;
        border-radius: 45px;
        text-align-last: center;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        border: 0;
        padding-right: 15px;
        text-align: -moz-center;
        text-align: -webkit-center;
        -webkit-appearance: none;
        justify-content: center;
        padding-left: 30%;
    }

    .leads__select-filter:before {
        right: 25px;
        background-image: url(../images/svg/icon-arrow_up.svg);
    }

    .leads__head-filter,
    .leads_tabs {
        display: none;
    }

    .orders__item-btn {
        padding-top: 20px;
        display: block;
    }

    .company__sidebar {
        display: block;
    }

    .company__header {
        margin-right: 0px;
        padding: 20px 15px;
        max-width: 100%;
    }

    .company__balance {
        padding: 20px 15px;
        display: flex;
        margin-left: 0px;
        max-width: 100%;
    }

    .d-xs-block {
        display: block !important;
    }

    .lk__header-title {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .form-block .select__select {
        /* color: #7d7d7d; */
        font-weight: 400;
    }

    label .placeholder {
        left: 15px;
        display: none;
    }

    .lk-form-block label.not-empty .placeholder,
    .label-up .placeholder {
        left: 15px;
        top: 18px;
    }

    .lk-form-block-title {
        padding-top: 25px;
        margin-bottom: 25px;
    }

    .edit-password {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        font-size: 15px;
        color: #7d7d7d;
    }

    .form-question {
        display: block;
        line-height: 1.6;
    }

    .form-question span {
        display: block;
        margin-right: 0px;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .form-bottom .btn {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
    }

    .lk-page .container-fluid {
        padding: 0px;
    }

    .lk-page footer .container-fluid {
        padding: 0 15px;
    }

    .lk-page .container-fluid h1 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .completed__container {
        padding: 15px;
    }

    .form-main-block {
        margin-top: 15px;
    }

    .form-block__name {
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 15px;
    }

    .plan-sliders-img img {
        /* width: 70%; */
        max-width: 100%;
    }

    .plan-sliders-title {
        max-width: 70px;
        text-align: left;
        left: 15px;
        top: 20px;
        z-index: 10;
    }

    .plan-sliders-plottage {
        left: 15px;
        top: 63px;
    }

    .projectlist-page .object .object__bottom .btn {
        max-width: 375px;
        width: 100%;
    }

    .proect__specifications-value .for {
        display: block;
    }

    .form-esponse p br {
        display: none;
    }

    .object__images .swiper-button-next {
        right: 15px;
    }

    .object__images .swiper-button-prev {
        left: 15px;
    }

    .projectlist-page .object-slider .right-control,
    .proect__slider .right-control {
        position: absolute;
        right: 15px;
    }

    .projectlist-page .object-slider .right-control>div,
    .proect__slider .right-control>div {
        margin-right: 0;
        margin-left: 10px;
    }

    .projectlist-page .object__images {
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .object-slider .right-control .control__icon {
        line-height: 40px;
    }

    .form-esponse {
        margin-bottom: 18px;
    }

    .object .proect__comfort-property img {
        display: block;
        margin-bottom: 8px;
    }

    .form-contancts .form-bottom .btn.btn-mobile {
        max-width: 100%;
    }

    .sorting-btn {
        display: inline-block;
        width: 48px;
        height: 48px;
        min-width: 48px;
        background: #f8d360 url('../images/svg/settings.svg') center no-repeat;
        border-radius: 5px;
        margin-right: 20px;
        background-size: 14px;
    }

    .projectlist-page .select--sorting {
        max-width: none;
    }

    .projectlist-page .modal-header .close,
    .myorder-page .modal-header .close {
        width: 20px;
        height: 20px;
        border: 0px;
        background: url('../images/exit.png') center no-repeat;
    }

    .projectlist-page .modal-content,
    .myorder-page .modal-content {
        background: #f6f7f9;
    }

    .projectlist-page .modal-header,
    .myorder-page .modal-header {
        border-bottom: 0px;
        padding-bottom: 0px;
    }

    .projectlist-page .modal-body,
    .myorder-page .modal-body {
        padding-top: 22px;
    }

    .projectlist-page .modal-footer,
    .myorder-page .modal-footer {
        padding-top: 0px;
        border-top: 0px;
        padding-bottom: 0px;
    }

    .projectlist-page .btn-cancel,
    .myorder-page .btn-cancel {
        border: 0px;
        background: initial;
        margin-bottom: 15px;
    }

    .projectlist-page .btn-cancel img,
    .myorder-page .btn-cancel img {
        margin-right: 8px;
        position: relative;
        top: -1px;
        width: 14px;
    }

    .projectlist-page .modal-footer button,
    .myorder-page button {
        width: 100%;
    }

    .projectlist-page h5.modal-title,
    .myorder-page h5.modal-title {
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
    }

    .projectlist-page .sort .select__select {
        font-weight: 400;
        background: #fff url(../images/svg/sorting_01.svg) 16px 13px no-repeat;
        background-size: 15px 15px;
        padding-left: 40px;
    }

    .projectlist-page .sorting {
        max-width: 375px;
        margin: 0 auto 35px;
    }

    .visible-xs {
        display: block;
    }

    .hidden-xs {
        display: none;
    }

    .form-esponse {
        background: #fff url(../images/form-bg-mobile.png) right bottom no-repeat;
        background-position: 141px 121%;
        background-size: 100%;

    }

    .form-contancts .form-bottom {
        display: block;
    }

    .form-esponse .form-contancts--column.d-xs-none {
        display: none;
    }

    .form-esponse .form-contancts--column,
    .form-esponse .politic {
        max-width: 100%;
        text-align: left;
    }

    .proect__description {
        margin-bottom: 20px;
    }

    .object__developer {
        padding-bottom: 15px;
        border-bottom: 1px #e4e6ee solid;
        margin-bottom: 15px;
        text-align: left;
    }

    .object .proect__comfort-property {
        font-size: 15px;
    }

    .projectlist-page .object__comfort-list>div {
        margin-bottom: 15px;
    }

    .projectlist-page .object__comfort {
        border-bottom: 1px #e4e6ee solid;
        margin-bottom: 15px;
    }

    .projectlist-page .object-body {
        padding-bottom: 0;
    }

    .object__bottom .proect__specifications-value:after {
        display: block;
        content: '';
        clear: both;
    }

    .old-price,
    .new-price {
        /*line-height: 50px;*/
        float: right;
    }

    .object__bottom-left {
        display: none;
    }

    .object__bottom-right {
        display: block;
    }

    .for {
        display: block;
        float: left;
    }

    .for:hover .control__container {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .object__bottom.mobile {
        display: block;
        padding: 0 15px 20px 15px;
    }

    .object__bottom.mobile .proect__specifications-value {
        display: block;
        margin-bottom: 25px;
    }

    .object .object__bottom.mobile .btn {
        margin: 0 auto;
        margin-left: auto;
    }

    .object__bottom.mobile .proect__specifications-item {
        top: auto;
    }

    .object__comfort .proect__comfort-property {
        width: 50%;
    }

    .object__bottom .proect__specifications-item {
        width: 100%;
        display: block;
    }

    .projectlist-page .object__developer .proect__cat {
        display: block;
        margin-bottom: 6px;
    }

    .object__comfort .row {
        margin-right: 0;
        margin-left: 0;
    }

    .object__comfort .row>div {
        padding-right: 0;
        padding-left: 0;
    }

    .gallery-top .swiper-button-next,
    .gallery-top .swiper-button-prev {
        display: block;
    }

    .gallery-top .swiper-pagination {
        display: flex;
    }

    .specifications-block,
    .materials-block,
    .specifications-block,
    .else-block {
        padding-top: 60px;
    }

    .mobile-tabs .select__select {
        margin-bottom: 40px;
        border-color: #f8d360;
        text-align: left;
        text-align-last: left;
        text-align: -moz-left;
        text-align: -webkit-left;
        background-image: url(../images/svg/project_01_activ.svg);
        background-repeat: no-repeat;
        background-position: 40px 13px;
        background-size: 28px 28px;
        padding-left: 80px;
    }

    .mobile-tabs .select:before {
        background-image: url(../images/svg/icon-arrow_up.svg);
        border: 0px;
    }

    label:hover:before {
        border: 0px;
    }

    .materials-content ul,
    .plan {
        margin-top: 60px;
    }

    .specifications__container .specifications__more,
    .else-list,
    .plan {
        margin-bottom: 60px;
    }

    .mobile-tabs {
        display: block;
    }

    .else-list>.row>div:last-child a.else {
        margin-bottom: 0;
    }

    .specifications-block {
        padding-bottom: 60px;
    }

    #tabs>div {
        display: none;
    }

    #tabs>div.active {
        display: block;
    }

    .tabs {
        display: none;
    }

    .specifications__container {
        padding: 0;
        background: initial;
    }

    .specifications-block ul li span:first-child,
    .specifications-block ul li span:last-child {
        background: #f6f7f9;
    }

    .specifications__more {
        font-weight: 500;
        line-height: 27px;
        display: block;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        max-width: 270px;
        height: 60px;
        margin: 0 auto 90px;
        transition: .3s;
        text-decoration: none;
        color: #212122;
        border-width: 1px;
        border-style: solid;
        border-color: #212122;
        border-radius: 50px;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .specifications__more span {
        position: relative;
        display: -ms-flexbox;
        display: flex;
    }

    .specifications__more span:after {
        display: block;
        font-size: 27px;
        padding-left: 9px;
        color: #e77561;
        font-family: 'ElegantIcons';
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        content: attr(data-icon);
        text-transform: none;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .specifications__more.openeds span:after {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .specifications__video {
        height: 220px;
    }

    .proect__slider .gallery-top .swiper-slide {
        height: 200px;
    }

    .thumbs {
        display: none;
    }

    .proect__cat {
        display: block;
        margin-bottom: 10px;
    }

    .proect__raiting {
        margin-left: 0;
    }

    .else {
        height: 84px;
    }

    .else>strong {
        line-height: 1.6;
    }

    .facades__items {
        display: none;
    }

    .facades__slider {
        display: block;
        margin-bottom: 90px;
    }

    .proect__block {
        display: block;
        padding-bottom: 22px;
    }

    .proect__desc {
        padding: 30px 17px;
    }

    .proect__top {
        margin-bottom: 25px;
        justify-content: flex-start;
    }

    .proect__top .proect__top-property:nth-child(2n),
    .proect__comfort-property:nth-child(2n) {
        padding-left: 15px !important;
    }

    .proect__comfort-property,
    .proect__top-property {
        width: 50%;
    }

    .proect__comfort {
        justify-content: flex-start;
    }

    .proect__desc .btn {
        width: 100%;
        max-width: 375px;
    }

    .proect__suitable {
        display: block;
    }

    .proect__suitable-property {
        margin-left: 0;
    }

    .proect__specifications-value,
    .proect__specifications-name,
    .old-price,
    .plan-sliders-title {
        font-size: 15px;
    }

    .new-price {
        font-size: 17px;
    }

    .proect__comfort-property:first-child {
        margin-right: 0;
    }

    .proect__top .proect__top-property span {
        font-size: 15px;
        padding-left: 0;
        margin-left: 5px;
    }

    .proect__top .proect__top-property:first-child,
    .proect__top .proect__top-property:nth-child(2) {
        padding-right: 0;
        border: 0px;
        padding-left: 0;
    }

    .order__top .control__container,
    .orders__item-head .control__container {
        top: 50px;
        right: -65px;
        bottom: 0;
        left: auto;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    .show-share.control:hover .control__container .control__main {
        /* max-width: 265px; */
        max-width: 100%;
    }

    .order__top .control__container {
        right: -80px;
    }

    .order__top .control__main {
        max-width: 100%;
    }

    .select__select {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 30px;
    }

    .orders__item-head .orders__item-favourites {
        display: none;
    }

    .orders__item-price .orders__item-favourites {
        display: block;
    }

    .leave-esponse {
        text-align: center;
    }

    .order__properties-ico {
        margin-right: 12px;
    }

    .order__properties-value {
        margin-left: 10px;
    }

    .orders-page .heading-text {
        padding: 60px 0;
        margin-top: 60px;
    }

    .order__filter {
        /* display: none !important; */
        padding: 15px;
    }

    .orders__item-favourites {
        top: 42px;
        margin-right: 0;
    }

    .orders__item-desc {
        max-width: 100%;
    }

    .orders__item-time {
        float: none;
        margin-right: 0;
    }

    .orders__item-bottom .orders__item-time {
        float: right;
        margin-right: 0;
    }

    .orders__item-bottom>div:last-child {
        margin-top: 0;
    }

    .orders__item {
        padding: 20px 15px;
    }

    .order__new-title {
        float: left;
        max-width: 100%;
        position: relative;
        padding-left: 0;
        padding-top: 70px;
    }

    .order__new-btn {
        float: none;
        margin-top: 30px;
    }

    .order__new {
        margin-right: -15px;
        margin-left: -15px;
        border-radius: 0;
        padding: 45px 15px;
    }

    .orders__item-price {
        display: block;
        top: 0;
        right: 0;
        position: static;
        margin-bottom: 25px;
    }

    .orders__item-cat {
        line-height: 30px;
    }

    .orders__item-place {
        margin-top: 20px;
    }

    .order__properties-name {
        width: 94px;
    }

    .order,
    .leave-esponse {
        padding: 30px 15px;
    }

    .leave-esponse {
        padding: 60px 15px;
    }

    .form-esponse {
        padding: 50px 15px;
    }

    .leave-esponse h6 {
        margin-bottom: 20px;
    }

    .order__head-ico {
        width: 36px;
        margin-right: 15px;
    }

    .order__cat {
        line-height: 30px;
    }

    .order__head-ico svg {
        max-width: 100%;
        width: 36px;
        height: 30px;
    }

    .btn-filter {
        position: fixed;
        bottom: 5px;
        left: 50%;
        width: 290px;
        margin-left: -145px;
        display: inline-block;
        height: 60px;
        text-align: center;
        border: 1px #e77561 solid;
        border-radius: 10px;
        color: #000;
        font-weight: 500;
        background: #fff;
        text-decoration: none;
        transition: .3s;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 575px) {
    .orders-page .main--catalog {
        padding-top: 0;
    }
}

@media (max-width: 405px) {

    .message,
    .notification {
        display: none;
    }
}

.materials-modal-title {
    font-size: 16px;
    color: #e77561;
    font-weight: 500;
    margin-bottom: 20px;
}

.materials-list-columns strong {
    text-transform: initial;
    margin-bottom: 15px;
}

.district-list-list label:hover:before {
    border: 0px #f8d360 solid;
}


.menu-modal__footer {
    padding-bottom: 15px;
}
